extends layout

block content
  - for (var i in posts){
  div.container
      div.page-header
        h2 #{posts[i].header}
      img(src ="#{posts[i].picture}")
      a(href='http://localhost:3000/news/post-#{posts[i].id}' class="btn btn-success btn-lg") Читать полную новость  
      a(href='http://s13.ru/archives/#{posts[i].id}' class="btn btn-warning btn-lg") Читать на s13.ru 
      p #{posts[i].summary}   
  - }
